$themes: (
  light: (
    backgroundColor: #FFF,
    font-color: #1e202f,
    spinner-1-color: #62c9a2,
    spinner-2-color: #2c3e50
  ),
   dark: (
   backgroundColor: #0A0A0A,
   font-color: #ffffbf,
   spinner-1-color: #62c9a2,
   spinner-2-color: #2c3e50
   )
)
