$colors: (
  java: #1BE3AD,
  forest-green: #2acc9F, // primary
  white: #FFF,
  seashell: #F1F1F1, // secondary
  silver: #e7e7e7,
  gray: #828282,
  black: #000,
  bluewood: #2c3e50, // font main | highlight
  ebonyclay: #1e202f,
  danger: #fd1313
);

$colors-theme: (
  primary: (
    default: map_get($colors, white),
    hover: map_get($colors, white)
  ),
  secondary: (
    default: map-get($colors, forest-green),
    hover: map-get($colors, ebonyclay)
  )
);

$colors-background: ();

$colors-border: ();

$shadow-colors: (
  notification: rgba(#8f8f8f, 0.75),
  modal: rgba(#a09f9f, 0.75),
  button: (
    normal: 0 0 5px rgba(0,0,0, 0.25),
    hover: 0 0 10px rgba(map_get($colors, java), 1)
  )
);

